$primary-color: #7001fd;
$text-primary: #ffffff;
$text-secondary: #555555;
$secondary-color: #1E2772;
$gray-bg: #EEEEEE;
$gray-secondary-bg: #F1F3F6;
$font-family: 'Roboto', sans-serif;
$border-color: #4804a1
