$primary-color: #c956b8;
$text-primary: #ffffff;
$text-secondary: #000000;
$secondary-color: #6d34ff;
$gray-bg: #000000;
$gray-secondary-bg: #9660a8;
$font-family: 'Roboto', sans-serif;
$border-color: #000000
